schema/module-3.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="module">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="enabled" type="xs:boolean" />
              <xs:element name="visible" type="xs:boolean" />
              <xs:element name="icon" type="xs:string" />
              <xs:element name="usetopic" type="xs:boolean" default="false"/>
              <xs:element name="category" type="xs:string" default="admin" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="project" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modules" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>