schema/perspective-3.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="perspective">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="import" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="modulename" type="xs:string" use="required" />
            <xs:attribute name="configfilename" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="models">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="updatemodel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="addchild" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="model" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="adddrop" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="model" type="xs:string" use="required" />
                        <xs:attribute name="action" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="addcontextaction" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="group" type="xs:string" use="required" />
                        <xs:attribute name="before" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="model">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="children" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="child">
                              <xs:complexType>
                                <xs:attribute name="model" type="xs:string" use="required" />
                                <xs:attribute name="from" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="drops" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="drop">
                              <xs:complexType>
                                <xs:attribute name="model" type="xs:string" use="required" />
                                <xs:attribute name="action" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="contextactions"  minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                              <xs:element maxOccurs="unbounded" name="contextaction">
                                <xs:complexType>
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="groupactions" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="contextaction">
                                      <xs:complexType>
                                        <xs:attribute name="name" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="columns" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="column">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="label" type="xs:string" use="optional" />
                                <xs:attribute name="flex" type="xs:integer" use="optional" default="1" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="styles" minOccurs="0">
                        <xs:complexType>
                          <xs:attribute name="properties" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="toolbar" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="toolbarbutton">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="actions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="action">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="single" type="xs:boolean" use="optional" />
                  <xs:attribute name="permission" type="xs:string" use="optional" />
                  <xs:attribute name="icon" type="xs:string" use="optional" />
                  <xs:attribute name="label" type="xs:string" use="optional" />
                  <xs:attribute name="hidden" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>